.header {
  .container {
    max-width: 1640px;
    margin: 0 auto;
  }
  .header__mobile {
    display: none;
  }
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    a {
      text-decoration: none;
      color: #5b5b5b;
      font-size: 22px;
      font-family: "Poppins", sans-serif;
    }
    .header__menu {
      display: flex;
      gap: 80px;
      list-style: none;
    }
    .header__wrapper {
      display: flex;
    }
  }
  .user {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
    color: #5b5b5b;
    font-size: 22px;
    &__button {
      border: none;
      background-color: transparent;
      cursor: pointer;
    }
    &__picture {
      padding-left: 69px;
    }
    &__name {
      font-family: "Poppins";
      font-weight: 500;
      font-size: 18px;
      color: #000000;
    }
  }
}
@media (max-width: 1024px) {
  .header {
    .container {
      max-width: 1640px;
      .nav {
        justify-content: space-around;
      }
      .header__menu {
        gap: 50px;
      }
    }
  }
}

@media (max-width: 768px) {
  .header {
    .container {
      max-width: 1640px;
      .header__menu {
        gap: 30px;
      }
      a,
      .user__name {
        font-size: 16px;
      }
      .header__user {
        gap: 10px;
      }
      .user__picture {
        padding-left: 20px;
      }
    }
  }
}

@media (max-width: 480px) {
  .header {
    .header__mobile {
      display: block;
    }
    &__mobileWrapper {
      display: flex;
      justify-content: space-between;

      .user {
        gap: 5px;
        align-items: center;
        &__picture {
          padding-left: 0px;
          width: 60px;
          height: 40px;
        }
      }
    }
    .burger {
      display: flex;
      flex-direction: column;
      gap: 3px;
      background: none;
      border: none;
      cursor: pointer;
      justify-content: center;

      span {
        width: 25px;
        height: 3px;
        background: #49bbbd;
        display: block;
      }
    }
    .nav {
      display: none;
    }
  }
  .burgerMenu {
    display: none;
  }
  .burgerMenu.active {
    display: block;

    ul {
      padding-left: 0px;
    }
    li {
      list-style: none;
    }
    a {
      text-decoration: none;
      color: #5b5b5b;
      font-size: 22px;
      font-family: "Poppins", sans-serif;
    }
  }
}
