.header .container {
  max-width: 1640px;
  margin: 0 auto;
}
.header .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .nav a {
  text-decoration: none;
  color: #5b5b5b;
  font-size: 22px;
  font-family: "Poppins", sans-serif;
}
.header .nav .header__menu {
  display: flex;
  gap: 80px;
  list-style: none;
}
.header .nav .header__wrapper {
  display: flex;
}
.header .user {
  display: flex;
  justify-content: center;
  gap: 18px;
  color: #5b5b5b;
  font-size: 22px;
}
.header .user__button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.header .user__picture {
  padding-left: 69px;
}
.header .user__name {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 18px;
  color: #000000;
}

@media (max-width: 1024px) {
  .header .container {
    max-width: 1640px;
  }
  .header .container .nav {
    justify-content: space-around;
  }
  .header .container .header__menu {
    gap: 50px;
  }
}
@media (max-width: 768px) {
  .header .container {
    max-width: 1640px;
  }
  .header .container .header__menu {
    gap: 30px;
  }
  .header .container a,
  .header .container .user__name {
    font-size: 16px;
  }
  .header .container .header__user {
    gap: 10px;
  }
  .header .container .user__picture {
    padding-left: 20px;
  }
}
@media (max-width: 480px) {
  .header .container {
    padding-bottom: 5px;
  }
  .header .nav {
    flex-wrap: wrap;
  }
  .header .nav .header__wrapper {
    flex-direction: column;
  }
  .header .nav .header__menu {
    padding-left: 0px;
    gap: 18px;
  }
  .header .user {
    gap: 9px;
  }
}
.hero {
  background-color: rgba(157, 204, 255, 0.2);
  padding: 70px 0;
}
.hero__container {
  max-width: 1640px;
  margin: 0 auto;
  padding: 0 20px;
}
.hero__wrapper {
  display: flex;
  justify-content: space-between;
}
.hero__info {
  display: flex;
  flex-direction: column;
}
.hero__subtitle {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
}
.hero__subtitle--blue {
  color: #49bbbd;
  font-weight: 600;
}
.hero__title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 44px;
  color: #2f327d;
}
.hero__text {
  color: #696984;
  font-size: 24px;
  letter-spacing: 2px;
  line-height: 1.8;
  max-width: 688px;
}
.hero__button {
  max-width: 236px;
  max-height: 63px;
  padding: 20px;
  background-color: #49bbbd;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-weight: 700;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .hero {
    padding: 20px 0;
  }
  .hero__wrapper {
    flex-direction: column;
    gap: 10px;
  }
  .hero__button {
    padding: 10px;
  }
  .hero__image {
    max-width: 100%;
    margin-top: 10px;
  }
}
.blog-list__container {
  max-width: 1640px;
  margin: 0 auto;
  padding: 80px;
}
.blog-list__text {
  font-family: "Poppins", sans-serif;
  color: #000000;
  font-size: 30px;
  font-weight: 700;
}
.blog-list__cards {
  display: flex;
  gap: 76px;
}
.blog-list__card {
  min-width: 356px;
  min-height: 327px;
  border-radius: 20px;
  position: relative;
}
.blog-list__card--ux {
  background-image: url("../assets/images/blog-list/blog-list__card--ux.png");
}
.blog-list__card--react {
  background-image: url("../assets/images/blog-list/blog-list__card--react.png");
}
.blog-list__card--php {
  background-image: url("../assets/images/blog-list/blog-list__card--php.png");
}
.blog-list__card--js {
  background-image: url("../assets/images/blog-list/blog-list__card--js.png");
}
.blog-list__span {
  max-width: 236px;
  border-radius: 12px;
  padding: 16px 80px;
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  bottom: 34px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}
.blog-list__span a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #000000;
}
@media (max-width: 1024px) {
  .blog-list .blog-list__container {
    padding: 50px;
  }
  .blog-list .blog-list__cards {
    flex-wrap: wrap;
    gap: 50px;
  }
  .blog-list .blog-list__cards .blog-list__card {
    max-width: 356px;
  }
}
@media (max-width: 768px) {
  .blog-list .blog-list__card {
    min-width: 300px;
  }
}

.related-blog {
  background-color: rgba(157, 204, 255, 0.2);
  padding: 93px 0px 0px 0px;
}
.related-blog__container {
  max-width: 1640px;
  margin: 0 auto;
}
.related-blog__text {
  font-size: 30px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.related-blog__link {
  text-decoration: none;
  color: #49bbbd;
  font-size: 20px;
}
.related-blog__articles {
  display: flex;
  gap: 99px;
}
.related-blog__article {
  max-width: 786px;
  background-color: #ffffff;
  padding: 60px 33px 60px 34px;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}
.related-blog__picture {
  max-width: 100%;
}
.related-blog__title a {
  font-size: 26px;
  color: #252641;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  line-height: 1.8;
  text-decoration: none;
}
.related-blog__profile {
  display: flex;
  gap: 10px;
  font-size: 18px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}
.related-blog__description {
  color: #696984;
  font-size: 20px;
  max-width: 684px;
  font-family: "Poppins", sans-serif;
  line-height: 1.8;
  letter-spacing: 2px;
}
.related-blog .article__views {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}
.related-blog .views__amount {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: #696984;
}
.related-blog .article__link {
  color: #696984;
  font-size: 20px;
  letter-spacing: 2px;
}
.related-blog__buttons {
  display: flex;
  justify-content: end;
  gap: 11px;
  padding: 73px;
}
.related-blog .next-button,
.related-blog .previous-button {
  width: 50px;
  height: 50px;
  background-color: rgba(73, 187, 189, 0.5);
  border: none;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
}
.related-blog .next-button:active,
.related-blog .previous-button:active {
  background-color: #49bbbd;
}
.related-blog .next-button::after {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  border-left: 5px solid white;
  border-bottom: 5px solid white;
  transform: translate(-50%, -60%) rotate(45deg);
}
.related-blog .previous-button::after {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  border-right: 5px solid white;
  border-bottom: 5px solid white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%) rotate(-45deg);
}

@media (max-width: 1024px) {
  .related-blog {
    padding: 30px 30px 0px 30px;
  }
  .related-blog__articles {
    flex-direction: column;
    gap: 40px;
  }
  .related-blog__buttons {
    justify-content: center;
  }
}
.marketing-articles {
  background-color: white;
  padding-top: 80px;
  padding-bottom: 171px;
}
.marketing-articles__wrapper {
  max-width: 1640px;
  margin: 0 auto;
}
.marketing-articles__picture {
  max-width: 100%;
}
.marketing-articles__text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.marketing-articles__subtitle {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 2px;
}
.marketing-articles .seeAll__link {
  font-family: "Poppins", sans-serif;
  color: #49bbbd;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
}
.marketing-articles__cards {
  display: flex;
  gap: 50px;
}
.marketing-articles__card {
  border-radius: 20px;
  padding: 20px 18px 35px 21px;
  background-color: #ffffff;
  box-shadow: 0px 18.83px 47.08px rgba(47, 50, 125, 0.1);
}
.marketing-articles .design__wrapper {
  display: flex;
  justify-content: space-between;
}
.marketing-articles .design-sign,
.marketing-articles .publication-date__wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}
.marketing-articles .design__text, .marketing-articles__date {
  font-family: "Poppins", sans-serif;
  color: #696984;
  letter-spacing: 2px;
  font-weight: 500;
}
.marketing-articles__title {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
}
.marketing-articles__title a {
  text-decoration: none;
  color: #252641;
}
.marketing-articles__description {
  color: #696984;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  letter-spacing: 2px;
  line-height: 1.8;
  max-width: 328px;
}
.marketing-articles__price-wrapper {
  display: flex;
  justify-content: space-between;
}
.marketing-articles__price-wrapper .propile,
.marketing-articles__price-wrapper .price {
  display: flex;
  gap: 17px;
  align-items: center;
}
.marketing-articles__price-wrapper .profile__name {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 500;
}
.marketing-articles__price-wrapper .old-price {
  font-family: "Poppins", sans-serif;
  color: rgba(0, 0, 0, 0.5);
  font-size: 18px;
  font-weight: 300;
  text-decoration: line-through;
  letter-spacing: 2px;
}
.marketing-articles__price-wrapper .new-price {
  font-family: "Poppins", sans-serif;
  color: #49bbbd;
  letter-spacing: 2px;
  font-size: 24px;
  font-weight: 700;
}

@media (max-width: 1024px) {
  .marketing-articles {
    padding: 50px 30px 70px 30px;
  }
  .marketing-articles .marketing-articles__cards {
    flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  .marketing-articles__card {
    max-width: 300px;
  }
}
.footer {
  background-color: #252641;
  padding-top: 74px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .footer__wrapper {
  max-width: 1640px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__textWrapper {
  display: flex;
  align-items: center;
  gap: 77px;
}
.footer__text {
  color: #ffffff;
  letter-spacing: 4px;
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-weight: 600;
  max-width: 197px;
  border-left: #626381 solid 1px;
  padding: 9px 0px 8px 41px;
}
.footer__subscribe {
  padding-top: 95px;
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: #b2b3cf;
  font-size: 26px;
  letter-spacing: 4px;
  font-weight: 500;
}
.footer__inputField {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  max-width: 599px;
  padding-bottom: 96px;
}
.footer__input {
  color: #83839a;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  border-radius: 80px;
  background-color: #252641;
  border: #83839a solid 1px;
  min-width: 400px;
  min-height: 60px;
  padding-left: 30px;
}
.footer__submitButton {
  background-color: #49bbbd;
  border-radius: 60px;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-weight: 500;
  padding: 14px 34px 13px 34px;
}
.footer__terms {
  display: flex;
  text-align: center;
}
.footer .terms__text {
  font-family: "Poppins", sans-serif;
  color: #b2b3cf;
  font-size: 22px;
  letter-spacing: 4px;
}
.footer .terms__text--careers {
  padding-right: 20px;
}
.footer .terms__text--policy {
  border-left: #626381 solid 1px;
  border-right: #626381 solid 1px;
  padding: 0px 20px;
}
.footer .terms__text--condition {
  padding-left: 20px;
}
.footer .terms__text--copyright {
  text-align: center;
}

@media (max-width: 480px) {
  .footer {
    padding-right: 5px;
    padding-left: 5px;
  }
  .footer__subscribe {
    font-size: 20px;
  }
  .footer__inputField {
    flex-direction: column;
  }
}
* {
  box-sizing: border-box;
}/*# sourceMappingURL=main.css.map */